<div class="appHeader">
    <div class="left">
        <a href="/home" class="headerButton goBack">
            <i class="icon ion-md-arrow-back"></i>
        </a>
    </div>
    <div class="pageTitle">
        Lançamentos
    </div>
</div>
<!-- * App Header -->

<div id="appCapsule">
        
    <!-- Transactions -->
    <div class="section mt-2">
        <div class="section-title">Mais Recentes</div>

        <div class="transactions"  *ngFor="let transaction of transactions.results" >
            <!-- item -->
            <a (click)="itemAction(transaction)" class="item">
                <div class="detail">
                    <img src="assets/img/sample/brand/1.jpg" alt="img" class="image-block imaged w48">
                    <div>
                        <strong>{{transaction.description}}</strong>
                        <p>{{transaction.typeDescription}}</p>
                    </div>
                </div>
                <div class="right">
                    <div class="price text-danger"> {{transaction.valueDescription}}</div>
                </div>
            </a>
            <!-- * item -->

        </div>
    </div>
</div>
    
    
    