<div class="appHeader">
    <div class="left">
        <a href="/home" class="headerButton goBack">
            <i class="icon ion-md-arrow-back"></i>
        </a>
    </div>
    <div class="pageTitle">
        Contas
    </div>
</div>
<!-- * App Header -->

<div id="appCapsule">
    <div class="section mt-2" *ngFor="let account of this.accounts.results">
        <!-- card block -->
        <div class="card-block mb-2">
            <div class="card-main">
                <div class="card-button dropdown">
                    <button type="button" class="btn btn-link btn-icon" data-bs-toggle="dropdown">
                        <i name="ellipsis-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">
                            <i name="pencil-outline"></i>Editar
                        </a>
                        <a class="dropdown-item" href="#">
                            <i name="close-outline"></i>Remover
                        </a>
                       
                    </div>
                </div>
                <div class="balance">
                    <span class="label">Saldo</span>
                    <h1 class="title">R$ {{account.balance}}</h1>
                </div>
                <div class="in">
                    <div class="card-number">
                        <span class="label">Conta</span>
                        {{account.description}}
                    </div>
                    <div class="bottom">
                        <div class="card-expiry">
                            <span class="label">Código Identificador</span>
                            {{account.accountId}}
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- * card block -->
        
    </div>
</div>
