<div class="appHeader">
    <div class="left">
        <a href="/home" class="headerButton goBack">
            <i class="icon ion-md-arrow-back"></i>
        </a>
    </div>
    <div class="pageTitle">
        Contas
    </div>
</div>
<!-- * App Header -->

<div id="appCapsule">
    <div class="section mt-2">

        <!-- card block -->
        <div class="card-block mb-2">
            <div class="card-main">
                <div class="card-button dropdown">
                    <button type="button" class="btn btn-link btn-icon" data-bs-toggle="dropdown">
                        <i name="ellipsis-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">
                            <i name="pencil-outline"></i>Editar
                        </a>
                        <a class="dropdown-item" href="#">
                            <i name="close-outline"></i>Remover
                        </a>
                       
                    </div>
                </div>
                <div class="balance">
                    <span class="label">Saldo</span>
                    <h1 class="title">R$ 1.256,90</h1>
                </div>
                <div class="in">
                    <div class="card-number">
                        <span class="label">Titular</span>
                        XXXX XXXX XXXXXXXXXXXX
                    </div>
                    <div class="bottom">
                        <div class="card-expiry">
                            <span class="label">Código Identificador</span>
                            553
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- * card block -->
    
        <!-- card block -->
        <div class="card-block bg-secondary mb-2">
            <div class="card-main">
                <div class="card-button dropdown">
                    <button type="button" class="btn btn-link btn-icon" data-bs-toggle="dropdown">
                        <i name="ellipsis-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">
                            <i name="pencil-outline"></i>Editar
                        </a>
                        <a class="dropdown-item" href="#">
                            <i name="close-outline"></i>Remover
                        </a>
                       
                    </div>
                </div>
                <div class="balance">
                    <span class="label">Saldo</span>
                    <h1 class="title">R$ 521,44</h1>
                </div>
                <div class="in">
                    <div class="card-number">
                        <span class="label">Titular</span>
                        XXXX XXXX XXXXXXXXXXXX
    
                    </div>
                    <div class="bottom">
                        <div class="card-expiry">
                            <span class="label">Código Identificador</span>
                            445
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
        <!-- * card block -->
    
        <!-- card block -->
        <div class="card-block bg-success mb-2">
            <div class="card-main">
                <div class="card-button dropdown">
                    <button type="button" class="btn btn-link btn-icon" data-bs-toggle="dropdown">
                        <i name="ellipsis-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">
                            <i name="pencil-outline"></i>Editar
                        </a>
                        <a class="dropdown-item" href="#">
                            <i name="close-outline"></i>Remover
                        </a>
                      
                    </div>
                </div>
                <div class="balance">
                    <span class="label">Saldo</span>
                    <h1 class="title">$ 52,60</h1>
                </div>
                <div class="in">
                    <div class="card-number">
                        <span class="label">Titular</span>
                        •••• 9905
                    </div>
                    <div class="bottom">
                        <div class="card-expiry">
                            <span class="label">Código Identificador</span>
                            449
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- * card block -->
    
        <!-- card block -->
        <div class="card-block bg-danger mb-2">
            <div class="card-main">
                <div class="card-button dropdown">
                    <button type="button" class="btn btn-link btn-icon" data-bs-toggle="dropdown">
                        <i name="ellipsis-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">
                            <i name="pencil-outline"></i>Editar
                        </a>
                        <a class="dropdown-item" href="#">
                            <i name="close-outline"></i>Remover
                        </a>
                     
                    </div>
                </div>
                <div class="balance">
                    <span class="label">Saldo</span>
                    <h1 class="title">$ 1,256,90</h1>
                </div>
                <div class="in">
                    <div class="card-number">
                        <span class="label">Titular</span>
                        •••• 9905
                    </div>
                    <div class="bottom">
                        <div class="card-expiry">
                            <span class="label">Código Identificador</span>
                            449
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- * card block -->
    
        <!-- card block -->
        <div class="card-block bg-warning mb-2">
            <div class="card-main">
                <div class="card-button dropdown">
                    <button type="button" class="btn btn-link btn-icon" data-bs-toggle="dropdown">
                        <i name="ellipsis-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">
                            <i name="pencil-outline"></i>Editar
                        </a>
                        <a class="dropdown-item" href="#">
                            <i name="close-outline"></i>Remover
                        </a>
                       
                    </div>
                </div>
                <div class="balance">
                    <span class="label">Saldo</span>
                    <h1 class="title">$ 1,256,90</h1>
                </div>
                <div class="in">
                    <div class="card-number">
                        <span class="label">Titular</span>
                        •••• 9905
                    </div>
                    <div class="bottom">
                        <div class="card-expiry">
                            <span class="label">Código Identificador</span>
                            449
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- * card block -->
    
        <!-- card block -->
        <div class="card-block bg-info mb-2">
            <div class="card-main">
                <div class="card-button dropdown">
                    <button type="button" class="btn btn-link btn-icon" data-bs-toggle="dropdown">
                        <i name="ellipsis-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">
                            <i name="pencil-outline"></i>Editar
                        </a>
                        <a class="dropdown-item" href="#">
                            <i name="close-outline"></i>Remover
                        </a>
                       
                    </div>
                </div>
                <div class="balance">
                    <span class="label">Saldo</span>
                    <h1 class="title">$ 1,256,90</h1>
                </div>
                <div class="in">
                    <div class="card-number">
                        <span class="label">Titular</span>
                        •••• 9905
                    </div>
                    <div class="bottom">
                        <div class="card-expiry">
                            <span class="label">Código Identificador</span>
                            449
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- * card block -->
    
        <!-- card block -->
        <div class="card-block bg-dark mb-2">
            <div class="card-main">
                <div class="card-button dropdown">
                    <button type="button" class="btn btn-link btn-icon" data-bs-toggle="dropdown">
                        <i name="ellipsis-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">
                            <i name="pencil-outline"></i>Editar
                        </a>
                        <a class="dropdown-item" href="#">
                            <i name="close-outline"></i>Remover
                        </a>
                       
                    </div>
                </div>
                <div class="balance">
                    <span class="label">Saldo</span>
                    <h1 class="title">$ 1,256,90</h1>
                </div>
                <div class="in">
                    <div class="card-number">
                        <span class="label">Titular</span>
                        •••• 9905
                    </div>
                    <div class="bottom">
                        <div class="card-expiry">
                            <span class="label">Código Identificador</span>
                            449
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- * card block -->
    </div>
</div>
