<div class="appHeader">
    <div class="left">
        <a href="/home" class="headerButton goBack">
            <i class="icon ion-md-arrow-back"></i>
        </a>
    </div>
    <div class="pageTitle">
        Detalhes do Lançamento
    </div>
</div>
<!-- * App Header -->

<div id="appCapsule">
    <div class="section mt-2 mb-2">
        <div class="listed-detail mt-3">
            <div class="icon-wrapper">
                <div class="iconbox">
                </div>
            </div>
            <h3 class="text-center mt-2">{{transaction.typeDescription}}</h3>
        </div>
    
        <ul class="listview flush transparent simple-listview no-space mt-3">
            <li>
                <strong>Status</strong>
                <span class="text-success">Bem Sucedido</span>
            </li>
            <li>
                <strong>Descrição</strong>
                <span>{{transaction.description}}</span>
            </li>
            <li>
                <strong>Valor</strong>
                <h3 class="m-0">{{transaction.valueDescription}}</h3>
            </li>
        </ul>
    </div>
</div>

