<div class="appHeader">
    <div class="left">
        <a href="/home" class="headerButton goBack">
            <i class="icon ion-md-arrow-back"></i>
        </a>
    </div>
    <div class="pageTitle">
        Registrar Nova Conta
    </div>
</div>
<!-- * App Header -->

<div id="appCapsule">
    <div class="section mb-12 p-2">
        <form action="index.html">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="accountForm">
                       
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="description">Descrição</label>
                                <input type="text" class="form-control" id="description" formControlName="description" placeholder="Descrição da Conta">
                                <i class="clear-input">
                                    <i icon name="close-circle"></i>
                                </i>
                            </div>
                        </div>
    
                        <div class="form-group basic">
                            <button type="button" class="btn btn-primary btn-block btn-lg"
                            (click)="registerAccount()" [ngClass]="{'disabled-button' : (accountForm.invalid || messageService.isLoadingData)}">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>

</div>
