<div class="section wallet-card-section pt-1">
    <div class="wallet-card">
        <!-- Balance -->
        <div class="balance">
            <div class="left">
                <span class="title">Saldo</span>
                <h1 class="total">{{dashboard.totalBalanceDescription}}</h1>
            </div>
        
        </div>
        <!-- * Balance -->
        <!-- Wallet Footer -->
        <div class="wallet-footer">
            <div class="item">
                <a href="/debit-register">
                    <div class="icon-wrapper bg-danger">
                        <i class="icon ion-md-arrow-down"></i>
                    </div>
                    <strong>Registrar Débito</strong>
                </a>
            </div>
            <div class="item">
                <a href="/credit-register" >
                    <div class="icon-wrapper">
                        <i class="icon ion-md-arrow-up"></i>
                    </div>
                    <strong>Registrar Crédito</strong>
                </a>
            </div>
            <div class="item">
                <a href="/accounts">
                    <div class="icon-wrapper bg-success">
                        <i class="icon ion-md-card"></i>
                    </div>
                    <strong>Contas</strong>
                </a>
            </div>
            <div class="item">
                <a href="/account-register">
                    <div class="icon-wrapper bg-success">
                        <i class="icon ion-md-add"></i>
                    </div>
                    <strong>Adicionar Conta</strong>
                </a>
            </div>


            
        </div>
        <!-- * Wallet Footer -->
    </div>
</div>
<!-- Wallet Card -->
<!-- Stats -->
<div class="section">
    <div class="row mt-2">
        <div class="col-6">
            <div class="stat-box">
                <div class="title">Créditos</div>
                <div class="value text-success">{{dashboard.totalCreditDescription}}</div>
            </div>
        </div>
        <div class="col-6">
            <div class="stat-box">
                <div class="title">Débitos</div>
                <div class="value text-danger">{{dashboard.totalDebitDescription}}</div>
            </div>
        </div>
    </div>
    
</div>
<!-- * Stats -->

<!-- Transactions -->
<div class="section mt-4">
    <div class="section-heading">
        <h2 class="title">Lançamentos</h2>
        <a href="/transactions" class="link">Ver Todos</a>
    </div>
    <div class="transactions" *ngFor="let transaction of dashboard.transactions">
        <!-- item -->
        <a (click)="itemTransactionAction(transaction)" class="item">
            <div class="detail">
                <img src="assets/img/sample/brand/1.jpg" alt="img" class="image-block imaged w48">
                <div>
                    <strong>{{transaction.description}}</strong>
                    <p>Lançamento</p>
                </div>
            </div>
            <div class="right">
                <div class="price text-danger"> - R$ {{transaction.value}}</div>
            </div>
        </a>
        <!-- * item -->
        
    </div>
</div>
<!-- * Transactions -->

<!-- my cards -->
<div class="section full mt-4">
    <div class="section-heading padding">
        <h2 class="title">Contas</h2>
        <a href="/accounts" class="link">Ver Todas</a>
    </div>

    <!-- carousel single -->
    <div class="carousel-single splide">
        <div class="splide__track">
            <ul class="splide__list" *ngFor="let account of dashboard.accounts">

                <li (click)="itemAccountAction(account)"  class="splide__slide">
                    <!-- card block -->
                    <div class="card-block bg-primary">
                        <div class="card-main">
                            <div class="card-button dropdown">
                                <button type="button" class="btn btn-link btn-icon" data-bs-toggle="dropdown">
                                    <i name="ellipsis-horizontal"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">
                                        <i name="pencil-outline"></i>Edit
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i name="close-outline"></i>Remove
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i name="arrow-up-circle-outline"></i>Upgrade
                                    </a>
                                </div>
                            </div>
                            <div class="balance">
                                <span class="label">Saldo</span>
                                <h1 class="title">R$ {{account.balance}}</h1>
                            </div>
                            <div class="in">
                                <div class="card-number">
                                    <span class="label">Conta</span>
                                    {{account.description}}
                                </div>
                                <div class="bottom">
                                    <div class="card-expiry">
                                        <span class="label">Código Identificador</span>
                                        {{account.accountId}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- * card block -->
                </li>

            </ul>
        </div>
    </div>
    <!-- * carousel single -->

</div>
<!-- * my cards -->
