<div class="appHeader">
    <div class="left">
        <a href="/home" class="headerButton goBack">
            <i class="icon ion-md-arrow-back"></i>
        </a>
    </div>
    <div class="pageTitle">
        Registrar Débito
    </div>
</div>
<!-- * App Header -->

<div id="appCapsule">
    <div class="section mb-12 p-2">
        <form action="index.html">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="debitForm">
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="account2d">Conta</label>
                                <select class="form-control custom-select" id="account2d" formControlName="accountId">
                                    <option value="">Informe a conta</option>
                                    <option *ngFor="let account of accounts.results"  value="{{account.accountId}}">
                                        {{account.description}}
                                    </option>
                                    
                                </select>
                            </div>
                        </div>
    
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="text11d">Descrição</label>
                                <input type="text" class="form-control" id="description" formControlName="description" placeholder="Descrição">
                                <i class="clear-input">
                                    <i icon name="close-circle"></i>
                                </i>
                            </div>
                        </div>
    
                        <div class="form-group basic">
                            <label class="label">Valor</label>
                            <div class="input-group mb-2">
                                <span class="input-group-text" id="basic-addonb1">R$</span>
                                <input type="text" class="form-control" formControlName="value" placeholder="Débito"
                                    value="0">
                            </div>
                        </div>
    
                        <div class="form-group basic">
                            <button type="button" class="btn btn-primary btn-block btn-lg"
                            (click)="registerDebit()">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>


